.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.material-icons {
  font-size: 2.4em;
  cursor: pointer;
}
.card {
  width: 300px;
  justify-content: center;
}
.card .card-image .card-title {
  color: black;
  font-weight: 400;
}
.card-title {
  justify-content: center;
}
.cart {
  margin-top: 40px;
}
.collection .collection-item {
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
  align-self: center;
}
.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}
.item-desc {
  align-self: center;
}
.nvb {
  color: whitesmoke;
  font-family: "Chelsea Market", cursive;
  background-color: #ffc107;
  font-weight: 900;
}

.fontT {
  font-family: "Chelsea Market", cursive;
  color: #ffc107;
}

img {
  border-radius: 20px;
  width: 200px;
  height: 150px;
}

.card {
  text-align: center;
}

.card .card-title {
  color: #978e86;
  font-family: "Chelsea Market", cursive;
  transition: step-end;
}

footer{
  text-align: center;
  height: 70px;
  font-family: "Chelsea Market", cursive;
  font-weight: lighter;
}

a {
  color: #EC6D18;
}

.page-footer{
  background-color: #D9DADF;  
  color: #978e86;
}